USE [ShowUp2Move]
GO
/****** Object:  StoredProcedure [dbo].[USP_AddGroupMember]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_AddGroupMember]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND UserID = @UserID)
        RETURN 0;

    BEGIN TRY
        INSERT INTO GroupMembers (GroupID, UserID)
        VALUES (@GroupID, @UserID);

        RETURN 1;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddUser]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTH / USERS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_AddUser]
    @Username   NVARCHAR(100),
    @Password   NVARCHAR(100),
    @FullName   NVARCHAR(150),
    @NewUserID  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SET @NewUserID = -1;
        RETURN 0;
    END

    BEGIN TRY
        INSERT INTO Users (Username, Password, FullName)
        VALUES (@Username, @Password, @FullName);

        SET @NewUserID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewUserID = -1;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddUserSport]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_AddUserSport]
    @UserID  INT,
    @SportID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM UserSports WHERE UserID = @UserID AND SportID = @SportID)
        RETURN 0;

    BEGIN TRY
        INSERT INTO UserSports (UserID, SportID)
        VALUES (@UserID, @SportID);

        RETURN 1;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ConfirmParticipation]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_ConfirmParticipation]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE GroupMembers
        SET    HasConfirmed = 1
        WHERE  GroupID = @GroupID
          AND  UserID  = @UserID;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CreateEvent]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- EVENTS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_CreateEvent]
    @CreatedByUserID INT,
    @SportID         INT,
    @Location        NVARCHAR(255),
    @EventDate       DATETIME,
    @Description     NVARCHAR(500),
    @IsManual        BIT,
    @NewEventID      INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Events (CreatedByUserID, SportID, Location, EventDate, Description, IsManual)
        VALUES (@CreatedByUserID, @SportID, @Location, @EventDate, @Description, @IsManual);

        SET @NewEventID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewEventID = -1;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CreateGroup]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_CreateGroup]
    @SportID      INT,
    @CaptainUserID INT,
    @NewGroupID   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Groups (SportID, CaptainUserID)
        VALUES (@SportID, @CaptainUserID);

        SET @NewGroupID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewGroupID = -1;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteUserSport]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_DeleteUserSport]
    @UserID  INT,
    @SportID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM UserSports
        WHERE  UserID  = @UserID
          AND  SportID = @SportID;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllEvents]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetAllEvents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.EventID,
           u.FullName   AS CreatedBy,
           s.SportName,
           e.Location,
           e.EventDate,
           e.Description,
           e.IsManual,
           e.CreatedAt
    FROM   Events  e
    JOIN   Users   u ON e.CreatedByUserID = u.UserID
    JOIN   Sports  s ON e.SportID         = s.SportID
    ORDER BY e.EventDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllSports]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- SPORTS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_GetAllSports]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT SportID, SportName, MinGroupSize, MaxGroupSize
    FROM   Sports
    ORDER BY SportName;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAvailableUsersBySport]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- MATCHING & GROUPS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_GetAvailableUsersBySport]
    @SportID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.UserID, u.FullName, u.Description, u.SkillLevel
    FROM   Users      u
    JOIN   UserSports us ON u.UserID = us.UserID
    WHERE  us.SportID        = @SportID
      AND  u.IsAvailableToday = 1
      AND  u.IsDeleted        = 0
    ORDER BY NEWID();  -- random order helps with fair captain pick
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetEventByID]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetEventByID]
    @EventID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.EventID,
           u.FullName   AS CreatedBy,
           s.SportName,
           e.Location,
           e.EventDate,
           e.Description,
           e.IsManual,
           e.CreatedAt
    FROM   Events  e
    JOIN   Users   u ON e.CreatedByUserID = u.UserID
    JOIN   Sports  s ON e.SportID         = s.SportID
    WHERE  e.EventID = @EventID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetGroupMembers]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetGroupMembers]
    @GroupID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.UserID, u.FullName, u.SkillLevel, gm.HasConfirmed, gm.JoinedAt
    FROM   GroupMembers gm
    JOIN   Users        u  ON gm.UserID = u.UserID
    WHERE  gm.GroupID  = @GroupID
      AND  u.IsDeleted = 0
    ORDER BY gm.JoinedAt;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetGroupsByUser]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetGroupsByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT g.GroupID,
           s.SportName,
           u.FullName   AS CaptainName,
           g.Status,
           g.CreatedAt,
           gm.HasConfirmed
    FROM   GroupMembers gm
    JOIN   Groups       g  ON gm.GroupID  = g.GroupID
    JOIN   Sports       s  ON g.SportID   = s.SportID
    JOIN   Users        u  ON g.CaptainUserID = u.UserID
    WHERE  gm.UserID = @UserID
    ORDER BY g.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserByCredentials]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetUserByCredentials]
    @Username NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, Username, FullName, Description, SkillLevel, IsAvailableToday
    FROM   Users
    WHERE  Username  = @Username
      AND  Password  = @Password
      AND  IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserByID]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetUserByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, Username, FullName, Description, SkillLevel, IsAvailableToday, CreatedAt
    FROM   Users
    WHERE  UserID    = @UserID
      AND  IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserSports]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetUserSports]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT s.SportID, s.SportName, s.MinGroupSize, s.MaxGroupSize
    FROM   UserSports us
    JOIN   Sports     s  ON us.SportID = s.SportID
    WHERE  us.UserID = @UserID
    ORDER BY s.SportName;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUserAvailability]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_UpdateUserAvailability]
    @UserID          INT,
    @IsAvailableToday BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE Users
        SET    IsAvailableToday = @IsAvailableToday
        WHERE  UserID    = @UserID
          AND  IsDeleted = 0;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUserProfile]    Script Date: 5/9/2026 1:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_UpdateUserProfile]
    @UserID      INT,
    @FullName    NVARCHAR(150),
    @Description NVARCHAR(500),
    @SkillLevel  NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE Users
        SET    FullName    = @FullName,
               Description = @Description,
               SkillLevel  = @SkillLevel
        WHERE  UserID    = @UserID
          AND  IsDeleted = 0;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
