USE [master]
GO
/****** Object:  Database [ShowUp2Move]    Script Date: 5/9/2026 3:17:39 PM ******/
CREATE DATABASE [ShowUp2Move]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShowUp2Move', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShowUp2Move.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShowUp2Move_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShowUp2Move_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShowUp2Move].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShowUp2Move]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
	[Location] [nvarchar](255) NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsManual] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[GroupID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[GroupMemberID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[HasConfirmed] [bit] NOT NULL,
	[JoinedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupMemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GroupMember] UNIQUE NONCLUSTERED 
(
	[GroupID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[SportID] [int] NOT NULL,
	[CaptainUserID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Body] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[RelatedID] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollOptions]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[PollID] [int] NOT NULL,
	[OptionText] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polls]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polls](
	[PollID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[Question] [nvarchar](300) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollVotes]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollVotes](
	[VoteID] [int] IDENTITY(1,1) NOT NULL,
	[PollID] [int] NOT NULL,
	[OptionID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[VotedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PollVote] UNIQUE NONCLUSTERED 
(
	[PollID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[SportID] [int] IDENTITY(1,1) NOT NULL,
	[SportName] [nvarchar](100) NOT NULL,
	[MinGroupSize] [int] NOT NULL,
	[MaxGroupSize] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[SkillLevel] [nvarchar](50) NULL,
	[IsAvailableToday] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProfilePhotoUrl] [nvarchar](500) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSports]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSports](
	[UserSportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserSportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserSport] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[SportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VenueSuggestions]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VenueSuggestions](
	[VenueID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[SuggestedBy] [int] NOT NULL,
	[VenueName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[PriceEst] [decimal](10, 2) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VenueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((1)) FOR [IsManual]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((0)) FOR [HasConfirmed]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Polls] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PollVotes] ADD  DEFAULT (getdate()) FOR [VotedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAvailableToday]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VenueSuggestions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Groups]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Sports] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sports] ([SportID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Sports]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Users]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Groups]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Users]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Captain] FOREIGN KEY([CaptainUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Captain]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Sports] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sports] ([SportID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Sports]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Groups]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[PollOptions]  WITH CHECK ADD  CONSTRAINT [FK_PollOptions_Polls] FOREIGN KEY([PollID])
REFERENCES [dbo].[Polls] ([PollID])
GO
ALTER TABLE [dbo].[PollOptions] CHECK CONSTRAINT [FK_PollOptions_Polls]
GO
ALTER TABLE [dbo].[Polls]  WITH CHECK ADD  CONSTRAINT [FK_Polls_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Polls] CHECK CONSTRAINT [FK_Polls_Groups]
GO
ALTER TABLE [dbo].[Polls]  WITH CHECK ADD  CONSTRAINT [FK_Polls_Users] FOREIGN KEY([CreatedByID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Polls] CHECK CONSTRAINT [FK_Polls_Users]
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD  CONSTRAINT [FK_PollVotes_Options] FOREIGN KEY([OptionID])
REFERENCES [dbo].[PollOptions] ([OptionID])
GO
ALTER TABLE [dbo].[PollVotes] CHECK CONSTRAINT [FK_PollVotes_Options]
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD  CONSTRAINT [FK_PollVotes_Polls] FOREIGN KEY([PollID])
REFERENCES [dbo].[Polls] ([PollID])
GO
ALTER TABLE [dbo].[PollVotes] CHECK CONSTRAINT [FK_PollVotes_Polls]
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD  CONSTRAINT [FK_PollVotes_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PollVotes] CHECK CONSTRAINT [FK_PollVotes_Users]
GO
ALTER TABLE [dbo].[UserSports]  WITH CHECK ADD  CONSTRAINT [FK_UserSports_Sports] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sports] ([SportID])
GO
ALTER TABLE [dbo].[UserSports] CHECK CONSTRAINT [FK_UserSports_Sports]
GO
ALTER TABLE [dbo].[UserSports]  WITH CHECK ADD  CONSTRAINT [FK_UserSports_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserSports] CHECK CONSTRAINT [FK_UserSports_Users]
GO
ALTER TABLE [dbo].[VenueSuggestions]  WITH CHECK ADD  CONSTRAINT [FK_Venues_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[VenueSuggestions] CHECK CONSTRAINT [FK_Venues_Groups]
GO
ALTER TABLE [dbo].[VenueSuggestions]  WITH CHECK ADD  CONSTRAINT [FK_Venues_Users] FOREIGN KEY([SuggestedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[VenueSuggestions] CHECK CONSTRAINT [FK_Venues_Users]
GO
/****** Object:  StoredProcedure [dbo].[USP_AddGroupMember]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_AddGroupMember]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND UserID = @UserID)
        RETURN 0;

    BEGIN TRY
        INSERT INTO GroupMembers (GroupID, UserID)
        VALUES (@GroupID, @UserID);

        RETURN 1;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddNotification]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES — NOTIFICATIONS
-- ============================================================

CREATE PROCEDURE [dbo].[USP_AddNotification]
    @UserID    INT,
    @Title     NVARCHAR(150),
    @Body      NVARCHAR(500),
    @Type      NVARCHAR(50),
    @RelatedID INT = NULL,
    @NewNotifID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Notifications (UserID, Title, Body, Type, RelatedID)
        VALUES (@UserID, @Title, @Body, @Type, @RelatedID);

        SET @NewNotifID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewNotifID = -1;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_AddPollOption]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_AddPollOption]
    @PollID      INT,
    @OptionText  NVARCHAR(200),
    @NewOptionID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO PollOptions (PollID, OptionText)
        VALUES (@PollID, @OptionText);

        SET @NewOptionID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewOptionID = -1;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_AddUser]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTH / USERS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_AddUser]
    @Username   NVARCHAR(100),
    @Password   NVARCHAR(100),
    @FullName   NVARCHAR(150),
    @NewUserID  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SET @NewUserID = -1;
        RETURN 0;
    END

    BEGIN TRY
        INSERT INTO Users (Username, Password, FullName)
        VALUES (@Username, @Password, @FullName);

        SET @NewUserID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewUserID = -1;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddUserSport]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_AddUserSport]
    @UserID  INT,
    @SportID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM UserSports WHERE UserID = @UserID AND SportID = @SportID)
        RETURN 0;

    BEGIN TRY
        INSERT INTO UserSports (UserID, SportID)
        VALUES (@UserID, @SportID);

        RETURN 1;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddVenueSuggestion]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES — VENUE SUGGESTIONS
-- ============================================================

CREATE PROCEDURE [dbo].[USP_AddVenueSuggestion]
    @GroupID     INT,
    @SuggestedBy INT,
    @VenueName   NVARCHAR(200),
    @Address     NVARCHAR(300) = NULL,
    @Latitude    FLOAT         = NULL,
    @Longitude   FLOAT         = NULL,
    @PriceEst    DECIMAL(10,2) = NULL,
    @Notes       NVARCHAR(500) = NULL,
    @NewVenueID  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Only group members can suggest venues
    IF NOT EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND UserID = @SuggestedBy)
    BEGIN
        SET @NewVenueID = -1;
        RETURN 0;
    END

    BEGIN TRY
        INSERT INTO VenueSuggestions (GroupID, SuggestedBy, VenueName, Address, Latitude, Longitude, PriceEst, Notes)
        VALUES (@GroupID, @SuggestedBy, @VenueName, @Address, @Latitude, @Longitude, @PriceEst, @Notes);

        SET @NewVenueID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewVenueID = -1;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_ConfirmParticipation]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_ConfirmParticipation]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE GroupMembers
        SET    HasConfirmed = 1
        WHERE  GroupID = @GroupID
          AND  UserID  = @UserID;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CreateEvent]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES — AUTO EVENT (link group to event)
-- ============================================================

-- Replaces the old USP_CreateEvent — now accepts optional GroupID
CREATE   PROCEDURE [dbo].[USP_CreateEvent]
    @CreatedByUserID INT,
    @SportID         INT,
    @GroupID         INT = NULL,
    @Location        NVARCHAR(255),
    @EventDate       DATETIME,
    @Description     NVARCHAR(500),
    @IsManual        BIT,
    @NewEventID      INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Events (CreatedByUserID, SportID, GroupID, Location, EventDate, Description, IsManual)
        VALUES (@CreatedByUserID, @SportID, @GroupID, @Location, @EventDate, @Description, @IsManual);

        SET @NewEventID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewEventID = -1;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CreateGroup]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_CreateGroup]
    @SportID      INT,
    @CaptainUserID INT,
    @NewGroupID   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Groups (SportID, CaptainUserID)
        VALUES (@SportID, @CaptainUserID);

        SET @NewGroupID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewGroupID = -1;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CreatePoll]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES — POLLS & VOTING
-- ============================================================

CREATE PROCEDURE [dbo].[USP_CreatePoll]
    @GroupID     INT,
    @CreatedByID INT,
    @Question    NVARCHAR(300),
    @ExpiresAt   DATETIME = NULL,
    @NewPollID   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Only captain or group member can create a poll
    IF NOT EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND UserID = @CreatedByID)
    BEGIN
        SET @NewPollID = -1;
        RETURN 0;
    END

    BEGIN TRY
        INSERT INTO Polls (GroupID, CreatedByID, Question, ExpiresAt)
        VALUES (@GroupID, @CreatedByID, @Question, @ExpiresAt);

        SET @NewPollID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewPollID = -1;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteUserSport]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_DeleteUserSport]
    @UserID  INT,
    @SportID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM UserSports
        WHERE  UserID  = @UserID
          AND  SportID = @SportID;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllEvents]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetAllEvents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.EventID,
           u.FullName   AS CreatedBy,
           s.SportName,
           e.Location,
           e.EventDate,
           e.Description,
           e.IsManual,
           e.CreatedAt
    FROM   Events  e
    JOIN   Users   u ON e.CreatedByUserID = u.UserID
    JOIN   Sports  s ON e.SportID         = s.SportID
    ORDER BY e.EventDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllSports]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- SPORTS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_GetAllSports]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT SportID, SportName, MinGroupSize, MaxGroupSize
    FROM   Sports
    ORDER BY SportName;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAvailableUsersBySport]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- MATCHING & GROUPS
-- =============================================

CREATE   PROCEDURE [dbo].[USP_GetAvailableUsersBySport]
    @SportID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.UserID, u.FullName, u.Description, u.SkillLevel
    FROM   Users      u
    JOIN   UserSports us ON u.UserID = us.UserID
    WHERE  us.SportID        = @SportID
      AND  u.IsAvailableToday = 1
      AND  u.IsDeleted        = 0
    ORDER BY NEWID();  -- random order helps with fair captain pick
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAvailableUsersBySportNearby]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES — PROXIMITY MATCHING
-- ============================================================

-- Returns available users for a sport within @RadiusKm kilometres
-- Uses the Haversine approximation (accurate enough for city-level matching)
CREATE PROCEDURE [dbo].[USP_GetAvailableUsersBySportNearby]
    @SportID    INT,
    @Latitude   FLOAT,
    @Longitude  FLOAT,
    @RadiusKm   FLOAT = 10.0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.UserID,
           u.FullName,
           u.Description,
           u.SkillLevel,
           u.ProfilePhotoUrl,
           u.Latitude,
           u.Longitude,
           -- Haversine distance in km
           (6371 * ACOS(
               COS(RADIANS(@Latitude))  * COS(RADIANS(u.Latitude)) *
               COS(RADIANS(u.Longitude) - RADIANS(@Longitude)) +
               SIN(RADIANS(@Latitude))  * SIN(RADIANS(u.Latitude))
           )) AS DistanceKm
    FROM   Users      u
    JOIN   UserSports us ON u.UserID = us.UserID
    WHERE  us.SportID          = @SportID
      AND  u.IsAvailableToday  = 1
      AND  u.IsDeleted         = 0
      AND  u.Latitude          IS NOT NULL
      AND  u.Longitude         IS NOT NULL
      AND  (6371 * ACOS(
               COS(RADIANS(@Latitude))  * COS(RADIANS(u.Latitude)) *
               COS(RADIANS(u.Longitude) - RADIANS(@Longitude)) +
               SIN(RADIANS(@Latitude))  * SIN(RADIANS(u.Latitude))
           )) <= @RadiusKm
    ORDER BY NEWID();   -- random for fair captain selection
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetEventByID]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetEventByID]
    @EventID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.EventID,
           u.FullName   AS CreatedBy,
           s.SportName,
           e.Location,
           e.EventDate,
           e.Description,
           e.IsManual,
           e.CreatedAt
    FROM   Events  e
    JOIN   Users   u ON e.CreatedByUserID = u.UserID
    JOIN   Sports  s ON e.SportID         = s.SportID
    WHERE  e.EventID = @EventID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetGroupMembers]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetGroupMembers]
    @GroupID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.UserID, u.FullName, u.SkillLevel, gm.HasConfirmed, gm.JoinedAt
    FROM   GroupMembers gm
    JOIN   Users        u  ON gm.UserID = u.UserID
    WHERE  gm.GroupID  = @GroupID
      AND  u.IsDeleted = 0
    ORDER BY gm.JoinedAt;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetGroupsByUser]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetGroupsByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT g.GroupID,
           s.SportName,
           u.FullName   AS CaptainName,
           g.Status,
           g.CreatedAt,
           gm.HasConfirmed
    FROM   GroupMembers gm
    JOIN   Groups       g  ON gm.GroupID  = g.GroupID
    JOIN   Sports       s  ON g.SportID   = s.SportID
    JOIN   Users        u  ON g.CaptainUserID = u.UserID
    WHERE  gm.UserID = @UserID
    ORDER BY g.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetMessagesByGroup]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_GetMessagesByGroup]
    @GroupID     INT,
    @LastN       INT = 50   -- fetch last N messages; pass 0 for all
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (CASE WHEN @LastN = 0 THEN 2147483647 ELSE @LastN END)
           m.MessageID,
           m.GroupID,
           u.UserID      AS SenderID,
           u.FullName    AS SenderName,
           u.ProfilePhotoUrl,
           m.Content,
           m.SentAt,
           m.IsRead
    FROM   Messages m
    JOIN   Users    u ON m.SenderID = u.UserID
    WHERE  m.GroupID = @GroupID
    ORDER BY m.SentAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetPollResults]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_GetPollResults]
    @PollID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.PollID,
           p.Question,
           p.ExpiresAt,
           po.OptionID,
           po.OptionText,
           COUNT(pv.VoteID) AS VoteCount
    FROM   Polls       p
    JOIN   PollOptions po ON po.PollID  = p.PollID
    LEFT JOIN PollVotes pv ON pv.OptionID = po.OptionID
    WHERE  p.PollID = @PollID
    GROUP BY p.PollID, p.Question, p.ExpiresAt, po.OptionID, po.OptionText
    ORDER BY VoteCount DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetPollsByGroup]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_GetPollsByGroup]
    @GroupID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.PollID,
           p.Question,
           u.FullName AS CreatedByName,
           p.CreatedAt,
           p.ExpiresAt,
           COUNT(DISTINCT pv.UserID) AS TotalVotes
    FROM   Polls     p
    JOIN   Users     u  ON p.CreatedByID = u.UserID
    LEFT JOIN PollVotes pv ON pv.PollID  = p.PollID
    LEFT JOIN PollOptions po ON po.OptionID = pv.OptionID AND po.PollID = p.PollID
    WHERE  p.GroupID = @GroupID
    GROUP BY p.PollID, p.Question, u.FullName, p.CreatedAt, p.ExpiresAt
    ORDER BY p.CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserByCredentials]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetUserByCredentials]
    @Username NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, Username, FullName, Description, SkillLevel, IsAvailableToday
    FROM   Users
    WHERE  Username  = @Username
      AND  Password  = @Password
      AND  IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserByID]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetUserByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, Username, FullName, Description, SkillLevel, IsAvailableToday, CreatedAt
    FROM   Users
    WHERE  UserID    = @UserID
      AND  IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserNotifications]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_GetUserNotifications]
    @UserID   INT,
    @UnreadOnly BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT NotificationID, Title, Body, Type, RelatedID, IsRead, CreatedAt
    FROM   Notifications
    WHERE  UserID = @UserID
      AND  (@UnreadOnly = 0 OR IsRead = 0)
    ORDER BY CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserSports]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_GetUserSports]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT s.SportID, s.SportName, s.MinGroupSize, s.MaxGroupSize
    FROM   UserSports us
    JOIN   Sports     s  ON us.SportID = s.SportID
    WHERE  us.UserID = @UserID
    ORDER BY s.SportName;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetVenueSuggestions]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_GetVenueSuggestions]
    @GroupID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT vs.VenueID,
           vs.VenueName,
           vs.Address,
           vs.Latitude,
           vs.Longitude,
           vs.PriceEst,
           vs.Notes,
           u.FullName AS SuggestedByName,
           vs.CreatedAt
    FROM   VenueSuggestions vs
    JOIN   Users            u  ON vs.SuggestedBy = u.UserID
    WHERE  vs.GroupID = @GroupID
    ORDER BY vs.CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_MarkAllNotificationsRead]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_MarkAllNotificationsRead]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Notifications
    SET    IsRead = 1
    WHERE  UserID = @UserID
      AND  IsRead = 0;

    RETURN @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_MarkMessagesRead]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_MarkMessagesRead]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Messages
    SET    IsRead = 1
    WHERE  GroupID  = @GroupID
      AND  SenderID <> @UserID   -- don't mark own messages
      AND  IsRead   = 0;

    RETURN @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_MarkNotificationRead]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_MarkNotificationRead]
    @NotificationID INT,
    @UserID         INT   -- security: ensure user owns it
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Notifications
    SET    IsRead = 1
    WHERE  NotificationID = @NotificationID
      AND  UserID         = @UserID;

    IF @@ROWCOUNT > 0 RETURN 1;
    ELSE              RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SendMessage]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES — MESSAGES (Group Chat)
-- ============================================================

CREATE PROCEDURE [dbo].[USP_SendMessage]
    @GroupID  INT,
    @SenderID INT,
    @Content  NVARCHAR(1000),
    @NewMessageID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Sender must be a member of the group
    IF NOT EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND UserID = @SenderID)
    BEGIN
        SET @NewMessageID = -1;
        RETURN 0;
    END

    BEGIN TRY
        INSERT INTO Messages (GroupID, SenderID, Content)
        VALUES (@GroupID, @SenderID, @Content);

        SET @NewMessageID = SCOPE_IDENTITY();
        RETURN 1;
    END TRY
    BEGIN CATCH
        SET @NewMessageID = -1;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateProfilePhoto]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

-- Update profile photo URL (after upload to blob/CDN)
CREATE PROCEDURE [dbo].[USP_UpdateProfilePhoto]
    @UserID         INT,
    @ProfilePhotoUrl NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET    ProfilePhotoUrl = @ProfilePhotoUrl
    WHERE  UserID    = @UserID
      AND  IsDeleted = 0;

    IF @@ROWCOUNT > 0 RETURN 1;
    ELSE              RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUserAvailability]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_UpdateUserAvailability]
    @UserID          INT,
    @IsAvailableToday BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE Users
        SET    IsAvailableToday = @IsAvailableToday
        WHERE  UserID    = @UserID
          AND  IsDeleted = 0;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUserLocation]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

-- Update user location (called when user opens the app or allows location)
CREATE PROCEDURE [dbo].[USP_UpdateUserLocation]
    @UserID    INT,
    @Latitude  FLOAT,
    @Longitude FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET    Latitude  = @Latitude,
           Longitude = @Longitude
    WHERE  UserID    = @UserID
      AND  IsDeleted = 0;

    IF @@ROWCOUNT > 0 RETURN 1;
    ELSE              RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUserProfile]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE   PROCEDURE [dbo].[USP_UpdateUserProfile]
    @UserID      INT,
    @FullName    NVARCHAR(150),
    @Description NVARCHAR(500),
    @SkillLevel  NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE Users
        SET    FullName    = @FullName,
               Description = @Description,
               SkillLevel  = @SkillLevel
        WHERE  UserID    = @UserID
          AND  IsDeleted = 0;

        IF @@ROWCOUNT > 0
            RETURN 1;
        ELSE
            RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_VoteOnPoll]    Script Date: 5/9/2026 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------

CREATE PROCEDURE [dbo].[USP_VoteOnPoll]
    @PollID   INT,
    @OptionID INT,
    @UserID   INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Already voted?
    IF EXISTS (SELECT 1 FROM PollVotes WHERE PollID = @PollID AND UserID = @UserID)
    BEGIN
        -- Update existing vote (allow changing vote)
        UPDATE PollVotes
        SET    OptionID = @OptionID,
               VotedAt  = GETDATE()
        WHERE  PollID  = @PollID
          AND  UserID  = @UserID;
        RETURN 2;  -- 2 = vote updated
    END

    BEGIN TRY
        INSERT INTO PollVotes (PollID, OptionID, UserID)
        VALUES (@PollID, @OptionID, @UserID);
        RETURN 1;  -- 1 = new vote cast
    END TRY
    BEGIN CATCH
        RETURN 0;
    END CATCH
END

GO
USE [master]
GO
